# รายชื่อ บลจ.

- Data : https://api-portal.sec.or.th/apidesc
- Download NAV (มี pattern น่าจะดึงข้อมูลอัตโนมัติได้ (ห้ามเกิน 1 เดือน) : http://www.thaimutualfund.com/AIMC/aimc_navCenterDownloadRepRep.jsp?date1=01/04/2562&date2=30/04/2562

In [ ]:

import http.client
import requests
import urllib.parse
import urllib.error
import base64
import json
import pandas as pd

headers = {
    # Request headers
    'Ocp-Apim-Subscription-Key': "b3238c81040d4850ab6ec07bbd85b8be",
}

params = urllib.parse.urlencode({
})

try:
    conn = http.client.HTTPSConnection('api.sec.or.th')
    response = conn.request("GET", "/FundDailyInfo/amc?%s" % params, "{body}", headers)
    company = pd.read_json(conn.getresponse())     
    conn.close()
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))

In [ ]:
company.head()

In [ ]:
company.describe()

In [ ]:
# เขียนข้อมูลลง Excel

company.to_excel('company.xlsx', index=False)
print('Save Success')

In [ ]:
comp = pd.read_excel('company.xlsx', 'Sheet1', na_values=['NA'])
comp.head()

# รายชื่อกองทุน

In [ ]:
# Loop จาก unique_id ของ บลจ.
import http.client
import requests
import time
import json
import pandas as pd
import urllib.parse
import urllib.error
import base64

headers = {
    # Request headers
    'Ocp-Apim-Subscription-Key': "9a59e81ff953449e9df599624eed1968",
}

params = urllib.parse.urlencode({
})

all_funds = pd.DataFrame(columns=['proj_id', 'proj_abbr_name','proj_name_en', 'proj_name_th','unique_id'])
for unique_id in comp.unique_id:
    req = requests.get(f'https://api.sec.or.th/FundFactsheet/fund/amc/{unique_id}', headers = headers)
    projects = pd.read_json(req.content)
    all_funds = all_funds.append(projects[['proj_id', 'proj_abbr_name','proj_name_en', 'proj_name_th','unique_id']])
    time.sleep(.4)

print(f'There are in total {len(all_funds.index)} funds')

In [ ]:
all_funds.sample(10)

In [ ]:
all_funds.describe()

In [ ]:
# เขียนข้อมูลลง Excel

all_funds.to_excel('all_funds.xlsx', index=False)

In [ ]:
#เลือก Column
fund_dom = all_funds.loc[:, ['proj_abbr_name',"proj_id"]]
fund_dom.head()

In [ ]:
f = pd.read_excel('AIMC_Category.xlsx','Thailand Domiciled', na_values=['NA'])
fund_cat.head()

In [ ]:
# เปลี่ยนชื่อ Column
f= fund_dom.rename(index=str, columns={'proj_abbr_name':'Fund Code'})

In [ ]:
f.head()

# จัดการ Catagory

In [38]:
# อ่านข้อมูลจาก Excel
fund_cat = pd.read_excel('AIMC_Category.xlsx','Thailand Domiciled', na_values=['NA'])
fund_cat.head()

,Fund Legal Name,Local Name - Thai,Fund Code,Firm Name,AIMC Category
0,1 A.M. Flexible Automatic Redemption,กองทุนเปิดวรรณเฟล็กซิเบิลคืนกำไร,FLEXAR,One Asset Management Ltd,Aggressive Allocation
1,Asset Plus Flexible Plus,กองทุนเปิด แอสเซทพลัส เฟล็กซิเบิ้ล พลัส,ASP-FLEXPLUS,"Asset Plus Fund Management Co., Ltd.",Aggressive Allocation
2,Asset Plus Mixed RMF,กองทุนเปิดแอสเซทพลัสหุ้นผสมตราสารหนี้เพื่อการเ...,ASP-MRF,"Asset Plus Fund Management Co., Ltd.",Aggressive Allocation
3,B-active,กองทุนเปิดบีแอ็คทีฟ,B-ACTIVE,"BBL Asset Management Co., Ltd.",Aggressive Allocation
4,Bualuang Flexible RMF,กองทุนเปิดบัวหลวงเฟล็กซิเบิ้ลเพื่อการเลี้ยงชีพ,BFLRMF,"BBL Asset Management Co., Ltd.",Aggressive Allocation

In [39]:
fund_cat.describe()

,Fund Legal Name,Local Name - Thai,Fund Code,Firm Name,AIMC Category
count,1685,1684,1684,1685,1684
unique,1685,1683,1683,23,42
top,Bualuang Thanasarn Plus 28/18,กองทุนเปิด แมนูไลฟ์ เอเชีย แปซิฟิก พร็อพเพอร์ต...,ONE-STOXXASEAN,"SCB Asset Management Co., Ltd.",Miscellaneous
freq,1,2,2,254,408

In [42]:
# หาจำนวน Category

len(fund_cat['AIMC Category'].unique())

43

In [43]:
print(fund_cat['AIMC Category'].unique())

['Aggressive Allocation' 'ASEAN Equity' 'Asia Pacific Ex Japan'
 'Broad Composite Commodities index' 'Commodities Agriculture'
 'Commodities Energy' 'Commodities Precious Metals'
 'Conservative Allocation' 'Emerging Market'
 'Emerging Market Bond Discretionary F/X Hedge or Unhedge'
 'Emerging Market Bond Fully F/X Hedge' 'Energy' 'Equity General'
 'Equity Large Cap' 'Equity Small - Mid Cap' 'European Equity'
 'Foreign Investment Allocation' 'Fund of Property Fund - Foreign'
 'Fund of Property Fund - Thai' 'Fund of Property fund -Thai and Foreign'
 'Global Bond Discretionary F/X Hedge or Unhedge'
 'Global Bond Fully F/X Hedge' 'Global Equity' 'Greater China Equity'
 'Health Care' 'High Yield Bond' 'India Equity' 'Japan Equity'
 'Long Term General Bond' 'Mid Term General Bond'
 'Mid Term Government Bond' 'Miscellaneous' 'Moderate Allocation'
 'Money Market General' 'Money Market Government' 'SET 50 Index Fund'
 'Short Term General Bond' 'Short Term Government Bond' 'Thai Free Hold'
 'Thai Mixed (between free and lease hold)' 'US Equity' 'Vietnam Equity'
 nan]

In [44]:
len(fund_cat['Firm Name'].unique())

23

In [45]:
print(fund_cat['Firm Name'].unique())

['One Asset Management Ltd' 'Asset Plus Fund Management Co., Ltd.'
 'BBL Asset Management Co., Ltd.'
 'CIMB-Principal Asset Management Co., Ltd'
 'Kasikorn Asset Management Co. Ltd' 'Krungthai Asset Management PLC'
 'Krungsri Asset Management Co., Ltd.'
 'Land and Houses Fund Management Co.,LTD'
 'Manulife Asset Management (Thailand)' 'MFC Asset Management PLC'
 'Phatra Asset Management Co., Ltd.' 'Phillip Asset Management Co., Ltd.'
 'SCB Asset Management Co., Ltd.' 'TALIS ASSET MANAGEMENT'
 'TISCO Asset Management Co., Ltd.' 'Thanachart Fund Management Co., Ltd.'
 'TMB Asset Management Co. Ltd' 'UOB Asset Management (Thailand) Co., Ltd'
 'Aberdeen Standard Asset Management (Thailand) Limited'
 'Innotech Asset Management Company Limited'
 'Siam Knight Fund Management Securities Co., Ltd.'
 'Bangkok Capital Asset Management Co., Ltd.'
 'Mfc Asset Management Public Co Ltd']

In [ ]:
gr = df.

In [ ]:
# ตรวจสอบรายละเอียดกองทุนด้วย Code

print(fund[fund['Fund Code']=='TMBPIPF'])

{"last_upd_date":"2019-05-14T05:09:23","nav_date":"2019-05-13","net_asset":16678081140.10,"last_val":104.1768,"previous_val":104

# จัดการข้อมูล NAV ที่ดาวน์โหลดมาจากระบบ

In [ ]:
import pandas as pd
import time
import base64

In [ ]:
def read_data(month):
    
    n = ['nav_date','B','C','Firm','E','proj_name_th','proj_name_en','fund_code','net_asset',
     'nav_price','dividend_value','book_close_date','sell_price','buy_price']
    df = pd.read_csv((f'download/{month}-NAV.txt'),header=None,names=n)
    
    # Convert Type to DateTime
    df['nav_date'] = pd.to_datetime(df.nav_date,dayfirst=True ) 
    df['book_close_date'] = pd.to_datetime(df.book_close_date,dayfirst=True ) 
    return df

In [ ]:
# กำหนดไฟล์ที่ต้องการดึงข้อมูล (ต้อง save file ให้เป็น UTF-8 ก่อน)

all_nav = pd.DataFrame(columns=['nav_date',"fund_code",'nav_price','net_asset','sell_price',
                             'buy_price','dividend_value','book_close_date','Firm','proj_name_th','proj_name_en'])
y=['2019-05','2019-04','2019-03','2019-02','2019-01']

for i in range(len(y)):
    df = read_data(y[i])
    df = df.loc[:, ['nav_date',"fund_code",'nav_price','net_asset','sell_price',
                             'buy_price','dividend_value','book_close_date','Firm','proj_name_th','proj_name_en']]
    all_nav = all_nav.append(df[['nav_date',"fund_code",'nav_price','net_asset','sell_price',
                             'buy_price','dividend_value','book_close_date','Firm','proj_name_th','proj_name_en']])

all_nav.sample(10)

In [ ]:
all_nav.info()

In [ ]:
# หาจำนวนกองทุน

len(all_nav['fund_code'].unique())

In [ ]:
# หาจำนวนวัน

len(all_nav['nav_date'].unique())

In [ ]:
# นับจำนวน Duplicate

len(all_nav[ all_nav.duplicated(['nav_date', 'fund_code'], keep = False) ])

In [ ]:
# ลบ Duplicate

# Remove the duplicates
all_nav.drop_duplicates(['nav_date', 'fund_code'], inplace=True)

# Reset dataframe index after drop_duplicates.
all_nav.reset_index(drop=True, inplace=True)
all_nav.index += 1

len(all_nav)

In [ ]:
all_nav.head()

# Download NAV อัตโนมัติ

In [19]:
import pandas as pd
import time
import base64

In [ ]:
start = '01/04/2562'
finish = '30/04/2562'

In [2]:
# Import ข้อมูลจาก Website ที่มีบริการให้ download NAV ย้อนหลังได้ครั้งละ 1 เดือน

import requests 
from bs4 import BeautifulSoup 
  
URL = "http://www.thaimutualfund.com/AIMC/aimc_navCenterDownloadRepRep.jsp?date1=01/05/2562&date2=31/05/2562"
r = requests.get(URL)   
soup = BeautifulSoup(r.content, 'html5lib') 

soup =soup.find("body") 
print(soup.prettify()) 

data = soup.prettify()

print(len(data))

'\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n02/05/2019,"CE"," ","KASSET","KASSET","¡Í§·Ø¹ÃÇÁÊÔ·¸Ô¡ÒÃàªèÒÍÊÑ§ËÒÃÔÁ·'

In [ ]:
# write data to text file
f = open('temp.txt','w',encoding='utf-8')
f.write (str(data))
f.close()
print('success')

**อ่านข้อมูลจาก text file**

In [20]:
n = ['nav_date','B','C','Firm','E','proj_name_th','proj_name_en','fund_code','net_asset',
     'nav_price','dividend_value','book_close_date','sell_price','buy_price']
df = pd.read_csv('temp.txt',header=None,names=n,skiprows=1,encoding='utf-8')
df.sample(10)

,nav_date,B,C,Firm,E,proj_name_th,proj_name_en,fund_code,net_asset,nav_price,dividend_value,book_close_date,sell_price,buy_price
23371,28/05/2019,OE,,KTAM,KTAM,กองทุนเปิดกรุงไทยสมาร์ท อินเวส 6 เดือน2,Krung Thai Smart Invest 6M2 Fund,KTSIV6M2,2.154859e+08,12.3535,NaN,NaN,12.3536,12.3535
23670,28/05/2019,OE,,ONEAM,ONEAM,กองทุนเปิดวรรณเอเอ็มซีเล็คทีฟโกรทหุ้นระยะยาว,1 A.M. Selective Growth Long Term Equity Fund,1SG-LTF,8.785797e+08,35.8111,NaN,NaN,35.8112,35.8111
4692,08/05/2019,OE,,KTAM,KTAM,กองทุนเปิดกรุงไทยตราสารภาครัฐไทย3,Krung Thai Government Bond Fund3,KT-THAIGOV3,3.371305e+08,10.0056,NaN,NaN,NaN,NaN
21379,24/05/2019,OE,,THANACHART FUND,THANACHART FUND,กองทุนเปิดธนชาตตราสารหนี้ต่างประเทศ 1Y24,Thanachart Fixed Income FIF 1Y24,T-FixFIF1Y24,8.502519e+08,10.1049,NaN,NaN,NaN,NaN
6373,09/05/2019,OE,,MFC,MFC,กองทุนเปิดเอ็มเอฟซี ไฮ-ดิวิเดนด์ หุ้นระยะยาว,MFC HI-DIVIDEND LONG TERM EQUITY FUND,HI-DIV LTF,9.210554e+07,9.8127,NaN,NaN,9.8128,9.7882
9844,13/05/2019,OE,,TMBAM,TMBAM,กองทุนเปิดทหารไทยธนวัฒน์,TMB Corporate Bond Fund,TMBCB,1.340911e+08,17.0443,NaN,NaN,17.0444,17.0443
16504,21/05/2019,OE,,MANULIFEAM,MANULIFEAM,กองทุนเปิด แมนูไลฟ์ สเตร็งค์ มันนี่ มาร์เก็ต,Manulife Strength-Money Market Fund,MS-MONEY,9.205615e+07,11.5568,NaN,NaN,11.5569,11.5568
7162,10/05/2019,OE,,ASSETFUND,ASSETFUND,กองทุนเปิดแอสเซทพลัสหุ้นระยะยาวทวีกำไร,Asset Plus High Growth LTF,ASP-GLTF,1.993938e+08,23.4351,NaN,NaN,23.4352,23.4351
22642,27/05/2019,OE,,THANACHART FUND,THANACHART FUND,กองทุนเปิดธนชาต SET50 สะสมมูลค่า,Thanachart SET50 Accumulate Fund,T-SET50Acc,3.296978e+07,10.0590,NaN,NaN,NaN,NaN
18347,22/05/2019,OE,,SCBAM,SCBAM,กองทุนเปิดไทยพาณิชย์ตราสารหนี้ต่างประเทศ 3MF1,SCB Foreign Fixed Income Fund 3MF1,SCBFF3MF1,2.547295e+09,10.0231,NaN,NaN,NaN,NaN

In [22]:
 # ลบข้อมูลที่เป็น่ค่าว่าง
df = df.dropna(subset=['fund_code'])

# Convert Type to DateTime
df['nav_date'] = pd.to_datetime(df.nav_date,dayfirst=True ) 
df['book_close_date'] = pd.to_datetime(df.book_close_date,dayfirst=True ) 
df.sample(10)

,nav_date,B,C,Firm,E,proj_name_th,proj_name_en,fund_code,net_asset,nav_price,dividend_value,book_close_date,sell_price,buy_price
9593,2019-05-13,OE,,SCBAM,SCBAM,กองทุนเปิดไทยพาณิชย์ตราสารหนี้ต่างประเทศ 6MM6,SCB Foreign Fixed Income Fund 6MM6,SCBFF6MM6,2.671187e+09,10.0061,NaN,NaT,NaN,NaN
1738,2019-05-03,OE,,KASSET,KASSET,กองทุนเปิดเค ตราสารหนี้ต่างประเทศ 1 ปี EZ,K Foreign Fixed Income 1 Year EZ Fund,KFF1YEZ,2.523676e+09,10.1274,NaN,NaT,NaN,NaN
14865,2019-05-17,OE,,KTAM,KTAM,กองทุนเปิดกรุงไทยประจำ 3 เดือนมุ่งรักษาเงินต้น3,The Krung Thai Capital Protection Fixed 3M Fund3,KTFIX3M3,1.586474e+08,11.8175,NaN,NaT,11.7899,11.7898
22615,2019-05-27,OE,,SKFM,SKFM,กองทุนเปิด เอสเคเอฟเอ็ม แม่โขง,SKFM Mekong Fund,SMF,5.803126e+07,8.2652,NaN,NaT,8.3980,8.2652
1835,2019-05-03,OE,,KSAM,KSAM,กองทุนเปิดกรุงศรีโกลบอลเทคโนโลยีอิควิตี้เพื่อก...,Krungsri Global Technology Equity RMF,KFGTECHRMF,2.689581e+08,10.7461,NaN,NaT,10.7462,10.7461
12072,2019-05-15,OE,,MANULIFEAM,MANULIFEAM,กองทุนเปิด แมนูไลฟ์ สเตร็งค์ เฟล็กซิเบิ้ลฟันด์...,Manulife Strength-Flexible Retirement Mutual Fund,MS-FLEX RMF,4.749593e+07,21.3866,NaN,NaT,21.3867,21.3866
1675,2019-05-03,OE,,KASSET,KASSET,กองทุนเปิดเค แพลน 2,K PLAN 2 FUND,K-PLAN2,2.971511e+09,15.7935,NaN,NaT,15.8726,15.7935
9530,2019-05-13,OE,,SCBAM,SCBAM,กองทุนเปิดไทยพาณิชย์ตราสารหนี้ต่างประเทศ 1YJ1,SCB Foreign Fixed Income Fund 1YJ1,SCBFF1YJ1,2.945412e+09,10.1208,NaN,NaT,NaN,NaN
2283,2019-05-03,OE,,SCBAM,SCBAM,กองทุนเปิดไทยพาณิชย์ตราสารหนี้ต่างประเทศ 1YJ9,SCB Foreign Fixed Income Fund 1YJ9,SCBFF1YJ9,4.159186e+09,10.0760,NaN,NaT,NaN,NaN
6689,2019-05-09,OE,,SCBAM,SCBAM,กองทุนเปิดไทยพาณิชย์ตราสารหนี้ต่างประเทศ 6MM1,SCB Foreign Fixed Income Fund 6MM1,SCBFF6MM1,4.456756e+09,10.0175,NaN,NaT,NaN,NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24220 entries, 0 to 24219
Data columns (total 14 columns):
nav_date           24220 non-null datetime64[ns]
B                  24220 non-null object
C                  24220 non-null object
Firm               24220 non-null object
E                  24220 non-null object
proj_name_th       24220 non-null object
proj_name_en       24220 non-null object
fund_code          24220 non-null object
net_asset          24220 non-null float64
nav_price          24016 non-null float64
dividend_value     3637 non-null float64
book_close_date    3644 non-null datetime64[ns]
sell_price         16490 non-null float64
buy_price          16557 non-null float64
dtypes: datetime64[ns](2), float64(5), object(7)
memory usage: 2.8+ MB

In [24]:
df.describe()

          net_asset     nav_price  dividend_value    sell_price     buy_price
count  2.422000e+04  24016.000000     3637.000000  16490.000000  16557.000000
mean   3.202226e+09     14.742248        0.510885     15.722534     15.684205
std    1.367615e+10     37.100968        0.756117     34.515340     34.472839
min    2.223621e+06      0.940200        0.029300      0.945000      0.940200
25%    1.671984e+08     10.004675        0.190000      9.845350      9.733100
50%    7.461523e+08     10.334300        0.290000     11.082950     10.967600
75%    2.494636e+09     12.524725        0.550000     14.228325     14.052800
max    3.825022e+11   1256.202000        8.500000   1257.332200   1252.312900

In [25]:
df = df.loc[:, ['nav_date',"fund_code",'nav_price','net_asset','sell_price',
                             'buy_price','dividend_value','book_close_date','Firm','proj_name_th','proj_name_en']]
df.head()

,nav_date,fund_code,nav_price,net_asset,sell_price,buy_price,dividend_value,book_close_date,Firm,proj_name_th,proj_name_en
0,2019-05-02,MJLF,12.1474,4.008653e+09,NaN,NaN,0.2300,2013-11-26,KASSET,กองทุนรวมสิทธิการเช่าอสังหาริมทรัพย์เมเจอร์ ซี...,Major Cineplex Lifestyle Leasehold Property Fund
1,2019-05-02,CTARAF,10.1526,3.248834e+09,NaN,NaN,0.0430,2013-08-28,KASSET,กองทุนรวมสิทธิการเช่าอสังหาริมทรัพย์โรงแรมและร...,Centara Hotels &amp; Resorts Leasehold Propert...
2,2019-05-02,GOLDPF,11.0148,2.269067e+09,NaN,NaN,0.1360,2013-08-28,KASSET,กองทุนรวมสิทธิการเช่าอสังหาริมทรัพย์โกลด์,Gold Property Fund (Lease Hold)
3,2019-05-02,KPNPF,10.2108,1.837954e+09,NaN,NaN,0.1625,2013-11-26,KASSET,กองทุนรวมอสังหาริมทรัพย์เคพีเอ็น,KPN Property Fund
4,2019-05-02,RGPF,25.3412,2.075008e+10,NaN,NaN,NaN,NaT,KTAM,รีเจนท์โกลด์พร็อพเพอร์ตี้ฟันด์,Regent Gold Property Fund

In [26]:
# หาจำนวนกองทุน

len(df['fund_code'].unique())

1507

In [30]:
# บริษัทจัดการกองทุน

agent = df['Firm'].unique()
agent

array(['KASSET', 'KTAM', 'KSAM', 'ONEAM', 'TMBAM', 'UOBAMTH', 'ABERDEEN',
       'ASSETFUND', 'BCAP', 'BBLAM', 'CIMB-PRINCIPAL', 'S-FUNDS',
       'LHFUND', 'MANULIFEAM', 'MFC', 'PHATRA ASSET', 'PAMC', 'SCBAM',
       'SKFM', 'TALISAM', 'THANACHART FUND', 'TISCOASSET', 'WEASSET'],
      dtype=object)

In [31]:
len(agent)

23

# Create Database

- https://docs.python.org/3/library/sqlite3.html
- http://sebastianraschka.com/Articles/2014_sqlite_in_python_tutorial.html#creating-a-new-sqlite-database
-https://www.dataquest.io/blog/python-pandas-databases/
- SQL Basics: Working with Databases : https://www.dataquest.io/blog/sql-basics/

In [ ]:
import sqlite3, json
from sqlite3 import Error

def create_connection(database):
    try:
        conn = sqlite3.connect(database, isolationlevel=None, checksamethread = False)
        conn.row_factory = lambda c, r: dict(zip(_[_col_[_0] for col in c.description], r))

        return conn
    except Error as e:
        print(e)

def create_table(c):
    sql = """ 
        CREATE TABLE IF NOT EXISTS articles (
            id integer PRIMARY KEY,
            name varchar(225) NOT NULL,
            body varchar(255) NOT NULL
        ); 
    """
    
# ***   'nav_date',"fund_code",'nav_price','net_asset','sell_price',
 #                            'buy_price','dividend_value','book_close_date','Firm','proj_name_th','proj_name_en'
    
    
    c.execute(sql)

def insert_db(c, name, body):
    sql = ''' INSERT INTO articles(name, body)
                VALUES (?, ?) '''
    c.execute(sql, (name, body))

def select_all_items(c, name):
    c.execute("SELECT * FROM articles WHERE name like ?", ('%'+name+'%',))
    rows = c.fetchall()
    return rows

def main():
    database = "./sqlite.db"

    # create a database connection
    conn = create_connection(database)

    # create items table
    create_table(conn)

    # confirm that table is created
    print("Connection established!")

if _**name == '**_main_':
    main()

In [ ]:
print(all_nav[all_nav['fund_code']=='TMB50'])

In [ ]:
import os
import pandas as pd
from datetime import date
import pandas_datareader.data as web 
import numpy as np

n = ['nav_date','B','C','Firm','E','proj_name_th','proj_name_en','fund_code','net_asset',
     'nav_price','dividend_value','book_close_date','sell_price','buy_price']
get_nav = pd.read_csv('temp.txt',header=None,names=n,encoding='utf-8')
get_nav.sample(5)

In [1]:
import requests 
from bs4 import BeautifulSoup 
  
def news(): 
    # the target we want to open     
    url='http://www.thaimutualfund.com/AIMC/aimc_navCenterDownloadRepRep.jsp?date1=01/04/2562&date2=30/04/2562'
      
    #open with GET method 
    resp=requests.get(url) 
      
    #http_respone 200 means OK status 
    if resp.status_code==200: 
        print("Successfully opened the web page") 
        print("The news are as follow :-\n") 
      
        # we need a parser,Python built-in HTML parser is enough . 
        soup=BeautifulSoup(resp.text,'html.parser')     
        print(soup)
        # l is the list which contains all the text i.e news  
        
    else: 
        print("Error")

In [2]:
import requests 
URL = "http://www.thaimutualfund.com/AIMC/aimc_navCenterDownloadRepRep.jsp?date1=01/04/2562&date2=30/04/2562"
r = requests.get(URL) 
print(r.content)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [4]:
!conda install urllib

Collecting package metadata: ...working... done
Solving environment: ...working...
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/win-64::anaconda==5.3.1=py37_0
failed

PackagesNotFoundError: The following packages are not available from current channels:

  - urllib

Current channels:

  - https://repo.anaconda.com/pkgs/main/win-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/free/win-64
  - https://repo.anaconda.com/pkgs/free/noarch
  - https://repo.anaconda.com/pkgs/r/win-64
  - https://repo.anaconda.com/pkgs/r/noarch
  - https://repo.anaconda.com/pkgs/msys2/win-64
  - https://repo.anaconda.com/pkgs/msys2/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.

In [3]:
import urllib.request import urlopen

r = urlopen("http://www.thaimutualfund.com/AIMC/aimc_navCenterDownloadRepRep.jsp?date1=01/04/2562&date2=30/04/2562")

for line in r:
    do_somthing()

SyntaxError: invalid syntax (<ipython-input-3-b34f1c1c1f5f>, line 1)

In [ ]:
n = ['nav_date','B','C','Firm','E','proj_name_th','proj_name_en','fund_code','net_asset',
     'nav_price','dividend_value','book_close_date','sell_price','buy_price']
get_nav = pd.read_csv('download/2019-05-NAV.txt',header=None,names=n,encoding='utf-8')
get_nav.sample(5)

In [ ]:
#เลือก Column
nav = get_nav.loc[:, ['nav_date',"fund_code",'nav_price','net_asset','sell_price',
                             'buy_price','dividend_value','book_close_date','Firm','proj_name_th','proj_name_en']]
nav.head()

In [ ]:
nav.info()

In [ ]:
# ตรวจสอบรายละเอียดราคากองทุนด้วย Code

print(nav[nav['fund_code']=='1AMSET50'])

In [ ]:
s= nav.fund_code.unique()
len(s)

In [ ]:
nav.describe()

# ค้นหาชื่อกองทุนด้วยชื่อย่อหรือชื่อกองทุนบางส่วน

In [ ]:
import http.client, urllib.request, urllib.parse, urllib.error, base64

headers = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '9a59e81ff953449e9df599624eed1968',
}

params = urllib.parse.urlencode({
})

try:
    conn = http.client.HTTPSConnection('api.sec.or.th')
    conn.request("POST", "/FundFactsheet/fund?%s" % params, "{name=TMB50}", headers) # ทดสอบ 'TMB50'
    #https://api.sec.or.th/FundFactsheet/fund?proj_abbr_name=TMB50
    response = conn.getresponse()
    data = response.read()
    print(data)
    conn.close()
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))

In [ ]:
# Data : https://api-portal.sec.or.th/apidesc

import http.client
import requests
import urllib.parse
import urllib.error
import base64
import json
import pandas as pd

headers = {
    # Request headers
    'Ocp-Apim-Subscription-Key': "9a59e81ff953449e9df599624eed1968",
}

params = urllib.parse.urlencode({
})

#for i in range(len(comp)):
try:
    conn = http.client.HTTPSConnection('api.sec.or.th')
    response = conn.request("GET", "/FundFactsheet/fund/amc/C0000000021?%s" % params, "{body}", headers)
    response = conn.getresponse()
    fund = response.read()  
    j = pd.io.json.loads(fund)
    ja = ja
    conn.close()
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))

In [ ]:
print(fund)

In [ ]:
print(comp)

In [ ]:
import pandas as pd
import json
import requests
%matplotlib inline
import time

In [ ]:
all_funds = []
for i in range(len(comp)):
    url = (f'https://api.sec.or.th/FundFactsheet/fund/amc/{comp[i]}')
    headers = {'Ocp-Apim-Subscription-Key': '9a59e81ff953449e9df599624eed1968'}
    response = requests.request('GET', url,headers=headers)
    projects = pd.read_json(response.content)
    time.sleep(500)
    all_funds = all_funds.append(projects[['proj_id', 'proj_abbr_name','proj_name_en', 'proj_name_th','unique_id']])

In [ ]:
print(all_funds)

j = pd.io.json.loads(response.text)
print(type(j))
j

In [ ]:
f

In [ ]:
GET https://api.sec.or.th/FundFactsheet/fund/amc/C0000000623

In [ ]:
f = open('company.txt','w',encoding='utf-8')
f.write (str(data))
#หรือ f.writelines(s)
f.close()

In [ ]:
import csv

f = open('http://www.thaimutualfund.com/AIMC/aimc_navCenterDownloadRepRep.jsp?date1=01/04/2562&date2=30/04/2562', 'r')
reader = csv.reader(f) 
prinit(reader)

In [ ]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup

In [ ]:
# Set the URL you want to webscrape from
url = 'http://www.thaimutualfund.com/AIMC/aimc_navCenterDownloadRepRep.jsp?date1=01/04/2562&date2=30/04/2562'
# Connect to the URL
response = requests.get(url)

In [ ]:
print(response.text)

In [ ]:
import requests
sites = [
    'http://www.thaimutualfund.com/AIMC/aimc_navCenterDownloadRepRep.jsp?date1=01/04/2562&date2=30/04/2562',
  
]
for url in sites:
    r = requests.get(url)      
   
    page_source = r.text
    page_source = page_source.split('\n')
    print("\nURL:", url) 
    print("--------------------------------------")
    # print the first five lines of the page source
    for row in page_source[:50]:
        print(row)
    print("--------------------------------------")

In [ ]:
with open('nishikaze.txt','r',encoding='utf-8') as f:
    for r in f.readlines():
        f.write('~~ '+r,end='')