# Manage Data for Project

In [2]:
import pandas as pd

In [3]:
pd.__version__

'0.24.2'

In [4]:
pd.Timestamp.today()

Timestamp('2019-08-30 14:05:12.182279')

# จัดการเรื่องรายละเอียดกองทุน

การจัดกลุ่มกองทุนโดย AIMC

In [5]:
# อ่านข้อมูลจาก Excel
fund_cat = pd.read_excel('AIMC_Category.xlsx','Thailand Domiciled', na_values=['NA'])
fund_cat.head()

,Fund Legal Name,Local Name - Thai,Fund Code,Firm Name,AIMC Category
0,1 A.M. Flexible Automatic Redemption,กองทุนเปิดวรรณเฟล็กซิเบิลคืนกำไร,FLEXAR,One Asset Management Ltd,Aggressive Allocation
1,Asset Plus Flexible Plus,กองทุนเปิด แอสเซทพลัส เฟล็กซิเบิ้ล พลัส,ASP-FLEXPLUS,"Asset Plus Fund Management Co., Ltd.",Aggressive Allocation
2,Asset Plus Mixed RMF,กองทุนเปิดแอสเซทพลัสหุ้นผสมตราสารหนี้เพื่อการเ...,ASP-MRF,"Asset Plus Fund Management Co., Ltd.",Aggressive Allocation
3,B-active,กองทุนเปิดบีแอ็คทีฟ,B-ACTIVE,"BBL Asset Management Co., Ltd.",Aggressive Allocation
4,Bualuang Flexible RMF,กองทุนเปิดบัวหลวงเฟล็กซิเบิ้ลเพื่อการเลี้ยงชีพ,BFLRMF,"BBL Asset Management Co., Ltd.",Aggressive Allocation

In [6]:
fund_cat.describe()

,Fund Legal Name,Local Name - Thai,Fund Code,Firm Name,AIMC Category
count,1685,1684,1684,1685,1684
unique,1685,1683,1683,23,42
top,Krungsri BRIC Stars,กองทุนเปิด แมนูไลฟ์ เอเชีย แปซิฟิก พร็อพเพอร์ต...,ONE-STOXXASEAN,"SCB Asset Management Co., Ltd.",Miscellaneous
freq,1,2,2,254,408

**ข้อมูลกองทุนทั้งหมดที่ดึงจากระบบ API**

In [7]:
all_funds = pd.read_excel('all_funds.xlsx','Sheet1', na_values=['NA'])
all_funds.head()

,proj_id,proj_abbr_name,proj_name_en,proj_name_th,unique_id
0,M0000_2553,KFI3MB,K Fixed Income 3 Months B Fund,กองทุนเปิดเค ตราสารหนี้ 3 เดือน บี,C0000000021
1,M0001_2558,KEFF1YAD,K Enhanced Foreign Fixed Income 1 Year AD Fund,กองทุนเปิดเค เอ็นแฮนซท์ ตราสารหนี้ต่างประเทศ 1...,C0000000021
2,M0003_2558,KEFI3MK,K Enhanced Fixed Income 3 Months K Fund,กองทุนเปิดเค เอ็นแฮนซท์ ตราสารหนี้ 3 เดือน K,C0000000021
3,M0004_2555,KFI6MAJ,K Fixed Income 6 Months AJ Fund,กองทุนเปิดเค ตราสารหนี้ 6 เดือน เอเจ,C0000000021
4,M0005_2560,KFF3MAR,K Foreign Fixed Income 3 Months AR Fund,กองทุนเปิดเค ตราสารหนี้ต่างประเทศ 3 เดือน AR,C0000000021

In [8]:
all_funds = all_funds.loc[:, ['proj_abbr_name',"proj_id"]]

In [9]:
# เปลี่ยนชื่อ Column
all_funds = all_funds.rename(index=str, columns={'proj_abbr_name':'Fund Code'})

In [10]:
all_funds.describe()

       Fund Code     proj_id
count      10589       10589
unique     10477       10589
top     TISEQT25  M0149_2552
freq           4           1

In [11]:
fund_detail = pd.merge(fund_cat, all_funds, how ='left', on='Fund Code')
fund_detail.sample(10)

,Fund Legal Name,Local Name - Thai,Fund Code,Firm Name,AIMC Category,proj_id
1451,Thanachart Fixed Income FIF 6M20,กองทุนเปิดธนชาตตราสารหนี้ต่างประเทศ 6M20,T-FixFIF6M20,"Thanachart Fund Management Co., Ltd.",Miscellaneous,M0346_2561
58,SCB Retirement Year 2586,กองทุนเปิดไทยพาณิชย์สำหรับการเกษียณอายุปี 2586,SCB2586,"SCB Asset Management Co., Ltd.",Aggressive Allocation,M0612_2556
808,KTAM World Metals and Mining,กองทุนเปิด เคแทม เวิลด์ เมทัล แอนด์ ไมน์นิ่ง ฟ...,KT-MINING,Krungthai Asset Management PLC,Global Equity,M0314_2553
235,Aberdeen Standard Small Cap,กองทุนเปิด อเบอร์ดีน สแตนดาร์ด สมอล แค็พ,ABSM,Aberdeen Standard Asset Management (Thailand) ...,Equity General,M0413_2548
1227,Krung Thai Fixed Income FIF 210,กองทุนเปิดกรุงไทยตราสารหนี้ เอฟไอเอฟ 210,KTFF210,Krungthai Asset Management PLC,Miscellaneous,M0462_2561
1183,K Foreign Fixed Income 6 Months FV,กองทุนเปิดเค ตราสารหนี้ต่างประเทศ 6 เดือน FV,KFF6MFV,Kasikorn Asset Management Co. Ltd,Miscellaneous,M0445_2561
1495,Krungsri Life Stage 20 Plus,กองทุนเปิดกรุงศรีไลฟ์สเตจ 20 พลัส,KFLS20PLUS,"Krungsri Asset Management Co., Ltd.",Moderate Allocation,M0477_2555
510,MFC SET 50 Long Term Equity,กองทุนเปิดเอ็มเอฟซี เซ็ท 50 หุ้นระยะยาว,M-S50 LTF,MFC Asset Management PLC,Equity Large Cap,M0575_2560
1121,K Complex Return 3YB NFRI,กองทุนเปิดเค Complex Return 3YB ห้ามขายผู้ลงทุ...,KCR3YB-AI,Kasikorn Asset Management Co. Ltd,Miscellaneous,M0238_2561
1405,SCB Foreign Fixed Income 6ML9,กองทุนเปิดไทยพาณิชย์ตราสารหนี้ต่างประเทศ 6ML9,SCBFF6ML9,"SCB Asset Management Co., Ltd.",Miscellaneous,M0112_2562

In [12]:
fund_detail.describe()

,Fund Legal Name,Local Name - Thai,Fund Code,Firm Name,AIMC Category,proj_id
count,1707,1706,1706,1707,1706,1341
unique,1685,1683,1683,23,42,1340
top,TISCO Thai Equity Trigger 5M 1,กองทุนเปิด ทิสโก้ ไทย อิควิตี้ ทริกเกอร์ 5M#1,TEQT5M1,"SCB Asset Management Co., Ltd.",Miscellaneous,M0853_2557
freq,4,4,4,255,415,2

In [13]:
fund_detail = fund_detail.loc[:, ['Fund Code',"AIMC Category",'Fund Legal Name',
                                  'Local Name - Thai','Firm Name','proj_id']]
fund_detail.sample(30)

,Fund Code,AIMC Category,Fund Legal Name,Local Name - Thai,Firm Name,proj_id
417,SCIF2,Equity General,Siam City Two,กองทุนเปิดนครหลวงไทย สอง,MFC Asset Management PLC,M0032_2536
658,T-INCOMEAI,Foreign Investment Allocation,Thanachart Global Income AI,กองทุนเปิดธนชาตโกลบอลอินคัม ห้ามขายผู้ลงทุนราย...,"Thanachart Fund Management Co., Ltd.",M0428_2558
454,T-PPSD,Equity General,Thanachart Perm Poon Sab Dividend,กองทุนเปิดธนชาตเพิ่มพูนทรัพย์ปันผล,"Thanachart Fund Management Co., Ltd.",M0024_2535
456,T-PrimePlusAI,Equity General,Thanachart Prime Plus NFRI,กอวทุนเปิดธนาชาติ Prime Plus ห้ามขายผู้ลงทุนรา...,"Thanachart Fund Management Co., Ltd.",M0332_2560
445,T-DIV,Equity General,Thanachart Dividend Stock,กองทุนเปิดธนชาตหุ้นปันผล,"Thanachart Fund Management Co., Ltd.",M0065_2560
109,MS-ASM RMF,Asia Pacific Ex Japan,Manulife Strength-Asian Small Cap Eq RMF,กองทุนเปิด แมนูไลฟ์ สเตร็งค์ เอเชียน สมอลแคป อ...,Manulife Asset Management (Thailand),M0376_2557
1090,BP15/18,Miscellaneous,Bualuang Thanasarn Plus 15/18,กองทุนรวมบัวหลวงธนสารพลัส 15/18,"BBL Asset Management Co., Ltd.",M0182_2561
1240,KTFF224,Miscellaneous,Krung Thai Fixed Income FIF 224,กองทุนเปิดกรุงไทยตราสารหนี้ เอฟไอเอฟ 224,Krungthai Asset Management PLC,M0063_2562
1200,KPFF6MD,Miscellaneous,K Privileged Foreign Fxd-Inc 6 Months D,กองทุนเปิดเค ตราสารหนี้ต่างประเทศ พริวิเลจ 6 เ...,Kasikorn Asset Management Co. Ltd,M0363_2561
1359,SCBFF1YL6,Miscellaneous,SCB Foreign Fixed Income 1YL6,กองทุนเปิดไทยพาณิชย์ตราสารหนี้ต่างประเทศ 1YL6,"SCB Asset Management Co., Ltd.",M0003_2562
1150,KFF1YFC,Miscellaneous,K Foreign Fixed Income 1 Year FC,กองทุนเปิดเค ตราสารหนี้ต่างประเทศ 1 ปี FC,Kasikorn Asset Management Co. Ltd,M0373_2561
715,K-PROP,Fund of Property fund -Thai and Foreign,K Property Sector,กองทุนเปิดเค พร็อพเพอร์ตี้ เซคเตอร์,Kasikorn Asset Management Co. Ltd,M0664_2557
1568,TDEX,SET 50 Index Fund,ThaiDEX SET50,กองทุนเปิดไทยเด็กซ์เซ็ท 50 อีทีเอฟ,One Asset Management Ltd,M0259_2550
118,TCIRMF,Asia Pacific Ex Japan,TISCO China India Retirement,กองทุนเปิด ทิสโก้ ไชน่า อินเดีย เพื่อการเลี้ยงชีพ,"TISCO Asset Management Co., Ltd.",M0512_2550
292,KTHAICGRMF,Equity General,K Thai Equity CG RMF,กองทุนเปิดเค หุ้นธรรมาภิบาลไทยเพื่อการเลี้ยงชีพ,Kasikorn Asset Management Co. Ltd,M0527_2560
35,LHSMART-D,Aggressive Allocation,LH Smart Income D,กองทุนเปิด แอล เอช สมาร์ท อินคัม ชนิดจ่ายเงินป...,"Land and Houses Fund Management Co.,LTD",NaN
1195,KFF6MGH,Miscellaneous,K Foreign Fixed Income 6 Months GH,กองทุนเปิดเค ตราสารหนี้ต่างประเทศ 6 เดือน GH,Kasikorn Asset Management Co. Ltd,M0078_2562
1309,SCBFI3Y5,Miscellaneous,SCB Fixed Income 3Y5,กองทุนเปิดไทยพาณิชย์ตราสารหนี้ 3Y5,"SCB Asset Management Co., Ltd.",M0293_2560
271,CIMB-PRINCIPAL 70LTFD,Equity General,CIMB-Principal LIFE 70 Long Term Eq Div,กองทุนเปิดซีไอเอ็มบี-พรินซิเพิล ไลฟ์ 70 หุ้นระ...,"CIMB-Principal Asset Management Co., Ltd",M0414_2548
115,TISCOAP,Asia Pacific Ex Japan,TISCO Asia Pacific ex Japan,กองทุนเปิด ทิสโก้ เอเชีย แปซิฟิก เอ็กซ์ เจแปน,"TISCO Asset Management Co., Ltd.",M0190_2552
1048,TSFIRMF,Mid Term General Bond,TISCO Secured Fixed Income Retirement,กองทุนเปิด ทิสโก้ ตราสารหนี้มั่นคงเพื่อการเลี้...,"TISCO Asset Management Co., Ltd.",M0059_2544
1137,KFF1YEN,Miscellaneous,K Foreign Fixed Income 1 Year EN,กองทุนเปิดเค ตราสารหนี้ต่างประเทศ 1 ปี EN,Kasikorn Asset Management Co. Ltd,M0217_2561
1421,TFixed2Y2AI,Miscellaneous,Thanachart Fixed Income 2Y2 (NFRI),กองทุนเปิดธนชาตตราสารหนี้ 2Y2 ห้ามขายผู้ลงทุนร...,"Thanachart Fund Management Co., Ltd.",M0532_2561
1002,CIMB-PRINCIPAL iFIXED-C,Mid Term General Bond,CIMB-Principal Core Fixed Income-C,กองทุนเปิดซีไอเอ็มบี-พรินซิเพิล คอร์ ฟิกซ์ อิน...,"CIMB-Principal Asset Management Co., Ltd",NaN
263,B-TOPTENLTF,Equity General,Bualuang Top-Ten LTF,กองทุนเปิดบัวหลวงทศพลหุ้นระยะยาว,"BBL Asset Management Co., Ltd.",M0042_2562
131,K-OIL,Commodities Energy,K Oil,กองทุนเปิดเค ออยล์,Kasikorn Asset Management Co. Ltd,M0237_2552
1565,SCBRMS50,SET 50 Index Fund,SCB SET50 Index RMF,กองทุนเปิดไทยพาณิชย์ SET 50 Index เพื่อการเลี้...,"SCB Asset Management Co., Ltd.",M0787_2554
1424,TFIX-3M#3,Miscellaneous,Thanachart Fixed Income 3 Month #3,กองทุนเปิดธนชาตตราสารหนี้ 3 เดือน#3,"Thanachart Fund Management Co., Ltd.",M0356_2549
799,KF-GTECH,Global Equity,Krungsri Global Technology Equity,กองทุนเปิดกรุงศรีโกลบอลเทคโนโลยีอิควิตี้,"Krungsri Asset Management Co., Ltd.",M0693_2559
1066,ASP-AITF3Y3,Miscellaneous,Asset Plus AI Term Fund 3Y3,กองทุนเปิดแอสเซทพลัสเอไอเทิร์มฟันด์ 3Y3,"Asset Plus Fund Management Co., Ltd.",M0239_2559

In [14]:
# Check Duplicated

len(fund_detail[ fund_detail.duplicated(['Fund Code'], keep = False) ])

43

In [15]:
# Delete Duplicated
fund_detail.drop_duplicates(['Fund Code'], inplace=True)
fund_detail.describe()

,Fund Code,AIMC Category,Fund Legal Name,Local Name - Thai,Firm Name,proj_id
count,1683,1683,1684,1684,1684,1318
unique,1683,42,1684,1683,23,1318
top,KFF1YFR,Miscellaneous,Krungsri BRIC Stars,กองทุนเปิด แมนูไลฟ์ เอเชีย แปซิฟิก พร็อพเพอร์ต...,"SCB Asset Management Co., Ltd.",M0167_2561
freq,1,408,1,2,254,1

**เขียนข้อมูลรายละเอียดกองทุนลง excel**

In [34]:
# write data to text file

fund_detail.to_excel('fund-id.xlsx', index=False)
print('Save Success')

Save Success

**ดึงข้อมูลรายละเอียดกองทุนจาก excel**

In [16]:
fund = pd.read_excel('fund-id.xlsx','Sheet1', na_values=['NA'])
fund.sample(10)

,Fund Code,AIMC Category,Fund Legal Name,Local Name - Thai,Firm Name,proj_id
1007,KFAFIX,Mid Term General Bond,Krungsri Active Fixed Income,กองทุนเปิดกรุงศรีแอคทีฟตราสารหนี้,"Krungsri Asset Management Co., Ltd.",M0458_2559
911,TGHDIGI,Health Care,TISCO Global Digital Health Equity,กองทุนเปิด ทิสโก้ โกลบอล ดิจิตอล เฮลธ์ อิควิตี้,"TISCO Asset Management Co., Ltd.",M0010_2562
1093,BP32/18,Miscellaneous,Bualuang Thanasarn Plus 32/18,กองทุนรวมบัวหลวงธนสารพลัส 32/18,"BBL Asset Management Co., Ltd.",M0397_2561
235,ABTED,Equity General,Aberdeen Standard Thai Equity Dividend,กองทุนเปิด อเบอร์ดีน สแตนดาร์ด ไทย เอคควิตี้ ด...,Aberdeen Standard Asset Management (Thailand) ...,M0071_2546
1482,SCBFLX,Moderate Allocation,SCB Flexible,กองทุนเปิดไทยพาณิชย์ เฟล็กซิเบิ้ล,"SCB Asset Management Co., Ltd.",M0429_2559
119,TMBAGLF,Asia Pacific Ex Japan,TMB Asian Growth Leaders,กองทุนเปิดทหารไทย Asian Growth Leaders,TMB Asset Management Co. Ltd,M0485_2557
1470,K-PLAN3,Moderate Allocation,K PLAN 3,กองทุนเปิดเค แพลน 3,Kasikorn Asset Management Co. Ltd,M0575_2552
46,ONE-FAS,Aggressive Allocation,ONE Fas Prosperity,กองทุนเปิดเอกเอเซียพูนผล,One Asset Management Ltd,M0041_2536
801,LHDIGITAL-D,Global Equity,LH Digital Economy D,กองทุนเปิด แอล เอช ดิจิตอล อีโคโนมี ชนิดจ่ายเง...,"Land and Houses Fund Management Co.,LTD",NaN
645,SCBINCA,Foreign Investment Allocation,SCB Income A,กองทุนเปิดไทยพาณิชย์ อินคัม ชนิดสะสมมูลค่า,"SCB Asset Management Co., Ltd.",NaN

# จัดการ Catagory

In [48]:
# อ่านข้อมูลจาก Excel
fund_cat = pd.read_excel('AIMC_Category_2018Q4.xlsx','Thailand Domiciled', na_values=['NA'])
fund_cat.head()

,Fund Legal Name,Local Name - Thai,Fund Code,Firm Name,AIMC Category
0,1 A.M. Flexible Automatic Redemption,กองทุนเปิดวรรณเฟล็กซิเบิลคืนกำไร,FLEXAR,One Asset Management Ltd,Aggressive Allocation
1,Asset Plus Flexible Plus,กองทุนเปิด แอสเซทพลัส เฟล็กซิเบิ้ล พลัส,ASP-FLEXPLUS,"Asset Plus Fund Management Co., Ltd.",Aggressive Allocation
2,Asset Plus Mixed RMF,กองทุนเปิดแอสเซทพลัสหุ้นผสมตราสารหนี้เพื่อการเ...,ASP-MRF,"Asset Plus Fund Management Co., Ltd.",Aggressive Allocation
3,B-active,กองทุนเปิดบีแอ็คทีฟ,B-ACTIVE,"BBL Asset Management Co., Ltd.",Aggressive Allocation
4,Bualuang Flexible RMF,กองทุนเปิดบัวหลวงเฟล็กซิเบิ้ลเพื่อการเลี้ยงชีพ,BFLRMF,"BBL Asset Management Co., Ltd.",Aggressive Allocation

In [49]:
fund_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1685 entries, 0 to 1684
Data columns (total 5 columns):
Fund Legal Name      1685 non-null object
Local Name - Thai    1684 non-null object
Fund Code            1684 non-null object
Firm Name            1685 non-null object
AIMC Category        1684 non-null object
dtypes: object(5)
memory usage: 65.9+ KB

In [50]:
fund_cat.shape

(1685, 5)

In [51]:
# หาจำนวน Category

len(fund_cat['AIMC Category'].unique())

43

In [52]:
print(fund_cat['AIMC Category'].unique())

['Aggressive Allocation' 'ASEAN Equity' 'Asia Pacific Ex Japan'
 'Broad Composite Commodities index' 'Commodities Agriculture'
 'Commodities Energy' 'Commodities Precious Metals'
 'Conservative Allocation' 'Emerging Market'
 'Emerging Market Bond Discretionary F/X Hedge or Unhedge'
 'Emerging Market Bond Fully F/X Hedge' 'Energy' 'Equity General'
 'Equity Large Cap' 'Equity Small - Mid Cap' 'European Equity'
 'Foreign Investment Allocation' 'Fund of Property Fund - Foreign'
 'Fund of Property Fund - Thai' 'Fund of Property fund -Thai and Foreign'
 'Global Bond Discretionary F/X Hedge or Unhedge'
 'Global Bond Fully F/X Hedge' 'Global Equity' 'Greater China Equity'
 'Health Care' 'High Yield Bond' 'India Equity' 'Japan Equity'
 'Long Term General Bond' 'Mid Term General Bond'
 'Mid Term Government Bond' 'Miscellaneous' 'Moderate Allocation'
 'Money Market General' 'Money Market Government' 'SET 50 Index Fund'
 'Short Term General Bond' 'Short Term Government Bond' 'Thai Free Hold'
 'Thai Mixed (between free and lease hold)' 'US Equity' 'Vietnam Equity'
 nan]

In [53]:
len(fund_cat['Firm Name'].unique())

23

In [54]:
print(fund_cat['Firm Name'].unique())

['One Asset Management Ltd' 'Asset Plus Fund Management Co., Ltd.'
 'BBL Asset Management Co., Ltd.'
 'CIMB-Principal Asset Management Co., Ltd'
 'Kasikorn Asset Management Co. Ltd' 'Krungthai Asset Management PLC'
 'Krungsri Asset Management Co., Ltd.'
 'Land and Houses Fund Management Co.,LTD'
 'Manulife Asset Management (Thailand)' 'MFC Asset Management PLC'
 'Phatra Asset Management Co., Ltd.' 'Phillip Asset Management Co., Ltd.'
 'SCB Asset Management Co., Ltd.' 'TALIS ASSET MANAGEMENT'
 'TISCO Asset Management Co., Ltd.' 'Thanachart Fund Management Co., Ltd.'
 'TMB Asset Management Co. Ltd' 'UOB Asset Management (Thailand) Co., Ltd'
 'Aberdeen Standard Asset Management (Thailand) Limited'
 'Innotech Asset Management Company Limited'
 'Siam Knight Fund Management Securities Co., Ltd.'
 'Bangkok Capital Asset Management Co., Ltd.'
 'Mfc Asset Management Public Co Ltd']

In [55]:
fund_cat.groupby('Firm Name').size()

Firm Name
Aberdeen Standard Asset Management (Thailand) Limited     24
Asset Plus Fund Management Co., Ltd.                      52
BBL Asset Management Co., Ltd.                            94
Bangkok Capital Asset Management Co., Ltd.                 4
CIMB-Principal Asset Management Co., Ltd                  75
Innotech Asset Management Company Limited                  2
Kasikorn Asset Management Co. Ltd                        186
Krungsri Asset Management Co., Ltd.                      114
Krungthai Asset Management PLC                           157
Land and Houses Fund Management Co.,LTD                   63
MFC Asset Management PLC                                 120
Manulife Asset Management (Thailand)                      24
Mfc Asset Management Public Co Ltd                         1
One Asset Management Ltd                                  85
Phatra Asset Management Co., Ltd.                         33
Phillip Asset Management Co., Ltd.                         7
SCB Asset Management Co., Ltd.                           254
Siam Knight Fund Management Securities Co., Ltd.           2
TALIS ASSET MANAGEMENT                                    12
TISCO Asset Management Co., Ltd.                         103
TMB Asset Management Co. Ltd                              67
Thanachart Fund Management Co., Ltd.                     104
UOB Asset Management (Thailand) Co., Ltd                 102
dtype: int64

In [56]:
sizes = fund_cat.groupby('Firm Name').size()
sizes.values

array([ 24,  52,  94,   4,  75,   2, 186, 114, 157,  63, 120,  24,   1,
        85,  33,   7, 254,   2,  12, 103,  67, 104, 102], dtype=int64)

In [57]:
firms = fund_cat['Firm Name'].unique()
firms

array(['One Asset Management Ltd', 'Asset Plus Fund Management Co., Ltd.',
       'BBL Asset Management Co., Ltd.',
       'CIMB-Principal Asset Management Co., Ltd',
       'Kasikorn Asset Management Co. Ltd',
       'Krungthai Asset Management PLC',
       'Krungsri Asset Management Co., Ltd.',
       'Land and Houses Fund Management Co.,LTD',
       'Manulife Asset Management (Thailand)', 'MFC Asset Management PLC',
       'Phatra Asset Management Co., Ltd.',
       'Phillip Asset Management Co., Ltd.',
       'SCB Asset Management Co., Ltd.', 'TALIS ASSET MANAGEMENT',
       'TISCO Asset Management Co., Ltd.',
       'Thanachart Fund Management Co., Ltd.',
       'TMB Asset Management Co. Ltd',
       'UOB Asset Management (Thailand) Co., Ltd',
       'Aberdeen Standard Asset Management (Thailand) Limited',
       'Innotech Asset Management Company Limited',
       'Siam Knight Fund Management Securities Co., Ltd.',
       'Bangkok Capital Asset Management Co., Ltd.',
       'Mfc Asset Management Public Co Ltd'], dtype=object)

In [58]:
se_firm = pd.Series(sizes, index=firms)
se_firm

One Asset Management Ltd                                  85
Asset Plus Fund Management Co., Ltd.                      52
BBL Asset Management Co., Ltd.                            94
CIMB-Principal Asset Management Co., Ltd                  75
Kasikorn Asset Management Co. Ltd                        186
Krungthai Asset Management PLC                           157
Krungsri Asset Management Co., Ltd.                      114
Land and Houses Fund Management Co.,LTD                   63
Manulife Asset Management (Thailand)                      24
MFC Asset Management PLC                                 120
Phatra Asset Management Co., Ltd.                         33
Phillip Asset Management Co., Ltd.                         7
SCB Asset Management Co., Ltd.                           254
TALIS ASSET MANAGEMENT                                    12
TISCO Asset Management Co., Ltd.                         103
Thanachart Fund Management Co., Ltd.                     104
TMB Asset Management Co. Ltd                              67
UOB Asset Management (Thailand) Co., Ltd                 102
Aberdeen Standard Asset Management (Thailand) Limited     24
Innotech Asset Management Company Limited                  2
Siam Knight Fund Management Securities Co., Ltd.           2
Bangkok Capital Asset Management Co., Ltd.                 4
Mfc Asset Management Public Co Ltd                         1
dtype: int64

In [59]:
se_firm.index

Index(['One Asset Management Ltd', 'Asset Plus Fund Management Co., Ltd.',
       'BBL Asset Management Co., Ltd.',
       'CIMB-Principal Asset Management Co., Ltd',
       'Kasikorn Asset Management Co. Ltd', 'Krungthai Asset Management PLC',
       'Krungsri Asset Management Co., Ltd.',
       'Land and Houses Fund Management Co.,LTD',
       'Manulife Asset Management (Thailand)', 'MFC Asset Management PLC',
       'Phatra Asset Management Co., Ltd.',
       'Phillip Asset Management Co., Ltd.', 'SCB Asset Management Co., Ltd.',
       'TALIS ASSET MANAGEMENT', 'TISCO Asset Management Co., Ltd.',
       'Thanachart Fund Management Co., Ltd.', 'TMB Asset Management Co. Ltd',
       'UOB Asset Management (Thailand) Co., Ltd',
       'Aberdeen Standard Asset Management (Thailand) Limited',
       'Innotech Asset Management Company Limited',
       'Siam Knight Fund Management Securities Co., Ltd.',
       'Bangkok Capital Asset Management Co., Ltd.',
       'Mfc Asset Management Public Co Ltd'],
      dtype='object')

In [60]:
se_firm['Phillip Asset Management Co., Ltd.']

7

In [61]:
se_firm.head(n = 3)

One Asset Management Ltd                85
Asset Plus Fund Management Co., Ltd.    52
BBL Asset Management Co., Ltd.          94
dtype: int64

In [62]:
se_firm.sum()

1685

In [ ]:
lst_fund = []
lst_fund.append()
lst_fund

In [46]:
cat = fund_cat.groupby('AIMC Category').size()
cat

AIMC Category
ASEAN Equity                                                 7
Aggressive Allocation                                       83
Asia Pacific Ex Japan                                       35
Broad Composite Commodities index                            3
Commodities Agriculture                                      1
Commodities Energy                                           9
Commodities Precious Metals                                 34
Conservative Allocation                                     25
Emerging Market                                             17
Emerging Market Bond Discretionary F/X Hedge or Unhedge      7
Emerging Market Bond Fully F/X Hedge                         1
Energy                                                       6
Equity General                                             247
Equity Large Cap                                            54
Equity Small - Mid Cap                                      26
European Equity                                             31
Foreign Investment Allocation                               82
Fund of Property Fund - Foreign                             18
Fund of Property Fund - Thai                                15
Fund of Property fund -Thai and Foreign                     17
Global Bond Discretionary F/X Hedge or Unhedge              34
Global Bond Fully F/X Hedge                                 13
Global Equity                                               93
Greater China Equity                                        34
Health Care                                                 26
High Yield Bond                                             11
India Equity                                                22
Japan Equity                                                32
Long Term General Bond                                       5
Mid Term General Bond                                       55
Mid Term Government Bond                                    10
Miscellaneous                                              408
Moderate Allocation                                         35
Money Market General                                        15
Money Market Government                                     27
SET 50 Index Fund                                           16
Short Term General Bond                                     45
Short Term Government Bond                                   8
Thai Free Hold                                              18
Thai Mixed (between free and lease hold)                    27
US Equity                                                   24
Vietnam Equity                                               8
dtype: int64

In [47]:
cat.sum()

1684

In [100]:
fund_cat[fund_cat['AIMC Category'] == 'Miscellaneous']

,Fund Legal Name,Local Name - Thai,Fund Code,Firm Name,AIMC Category
1053,1 A.M. Smart Long Term Equity,กองทุนเปิดวรรณเอเอ็มสมาร์ทหุ้นระยะยาว,1SMART-LTF,One Asset Management Ltd,Miscellaneous
1054,Asset Plus AI Fixed Income 1,กองทุนเปิดแอสเซทพลัสเอไอตราสารหนี้ 1,ASP-AIF1,"Asset Plus Fund Management Co., Ltd.",Miscellaneous
1055,Asset Plus AI Term Fund 3Y3,กองทุนเปิดแอสเซทพลัสเอไอเทิร์มฟันด์ 3Y3,ASP-AITF3Y3,"Asset Plus Fund Management Co., Ltd.",Miscellaneous
1056,Asset Plus AI Term Fund 5Y1,กองทุนเปิดแอสเซทพลัสเอไอเทิร์มฟันด์ 5Y1,ASP-AITF5Y1,"Asset Plus Fund Management Co., Ltd.",Miscellaneous
1057,Asset Plus Glbl Complex Ret 1 NFRI,กองทุนเปิด แอสเซทพลัส โกลบอล คอมเพล็กซ์ รีเทิร...,ASP-GCOM 1,"Asset Plus Fund Management Co., Ltd.",Miscellaneous
1058,Asset Plus Prime 4,กองทุนเปิดแอสเซทพลัสไพร์ม 4,ASP-PRIME4,"Asset Plus Fund Management Co., Ltd.",Miscellaneous
1059,Asset Plus Stars 9,กองทุนเปิดแอสเซทพลัสสตาร์ 9,ASP-STARS9,"Asset Plus Fund Management Co., Ltd.",Miscellaneous
1060,Asset Plus Taweesab Fixed Inc 6M2 NFRI,กองทุนเปิดแอสเซทพลัสตราสารหนี้ทวีทรัพย์ 6เดือน...,ASP-TFIXED 6M2,"Asset Plus Fund Management Co., Ltd.",Miscellaneous
1061,Asset Plus Taweesab Fixed Income 2,กองทุนเปิดแอสเซทพลัสตราสารหนี้ทวีทรัพย์ 2,ASP-TFIXED2,"Asset Plus Fund Management Co., Ltd.",Miscellaneous
1062,Asset Plus Taweesab Fixed Income 3,กองทุนเปิดแอสเซทพลัสตราสารหนี้ทวีทรัพย์ 3,ASP-TFIXED3,"Asset Plus Fund Management Co., Ltd.",Miscellaneous
1063,Asset Plus Taweesab Fixed Income 5,กองทุนเปิดแอสเซทพลัสตราสารหนี้ทวีทรัพย์ 5,ASP-TFIXED5,"Asset Plus Fund Management Co., Ltd.",Miscellaneous
1064,Asset Plus Taweesab Fixed Income 9,กองทุนเปิดแอสเซทพลัสตราสารหนี้ทวีทรัพย์ 9,ASP-TFIXED9,"Asset Plus Fund Management Co., Ltd.",Miscellaneous
1065,Bualuang Fixed Income - Term Fund 1/18,กองทุนรวมบัวหลวงตราสารหนี้ชนิดระบุวันครบกำหนด ...,B-Fixterm 1/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1066,Bualuang Fixed Income - Term Fund 1/19,กองทุนรวมบัวหลวงตราสารหนี้ชนิดระบุวันครบกำหนด ...,B-Fixterm1/19,"BBL Asset Management Co., Ltd.",Miscellaneous
1067,Bualuang Fixed Income - Term Fund 2/18,กองทุนรวมบัวหลวงตราสารหนี้ชนิดระบุวันครบกำหนด ...,B-Fixterm2/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1068,Bualuang Fixed Income - Term Fund 3/18,กองทุนรวมบัวหลวงตราสารหนี้ชนิดระบุวันครบกำหนด ...,B-Fixterm3/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1069,Bualuang Fixed Income - Term Fund 4/18,กองทุนรวมบัวหลวงตราสารหนี้ชนิดระบุวันครบกำหนด ...,B-Fixterm4/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1070,Bualuang Fixed Income - Term Fund 5/18,กองทุนรวมบัวหลวงตราสารหนี้ชนิดระบุวันครบกำหนด ...,B-Fixterm5/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1071,Bualuang Fixed Income - Term Fund 6/18,กองทุนรวมบัวหลวงตราสารหนี้ชนิดระบุวันครบกำหนด ...,B-Fixterm6/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1072,Bualuang Fixed Income - Term Fund 7/18,กองทุนรวมบัวหลวงตราสารหนี้ชนิดระบุวันครบกำหนด ...,B-Fixterm7/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1073,Bualuang Fixed Income - Term Fund 8/18,กองทุนรวมบัวหลวงตราสารหนี้ชนิดระบุวันครบกำหนด ...,B-Fixterm8/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1074,Bualuang Fixed Income - Term Fund 9/18,กองทุนรวมบัวหลวงตราสารหนี้ชนิดระบุวันครบกำหนด ...,B-Fixterm9/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1075,Bualuang Thanasarn Plus 1/19,กองทุนรวมบัวหลวงธนสารพลัส 1/19,BP1/19,"BBL Asset Management Co., Ltd.",Miscellaneous
1076,Bualuang Thanasarn Plus 12/18,กองทุนรวมบัวหลวงธนสารพลัส 12/18,BP12/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1077,Bualuang Thanasarn Plus 13/18,กองทุนรวมบัวหลวงธนสารพลัส 13/18,BP13/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1078,Bualuang Thanasarn Plus 14/18,กองทุนรวมบัวหลวงธนสารพลัส 14/18,BP14/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1079,Bualuang Thanasarn Plus 15/18,กองทุนรวมบัวหลวงธนสารพลัส 15/18,BP15/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1080,Bualuang Thanasarn Plus 16/18,กองทุนรวมบัวหลวงธนสารพลัส 16/18,BP16/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1081,Bualuang Thanasarn Plus 17/18,กองทุนรวมบัวหลวงธนสารพลัส 17/18,BP17/18,"BBL Asset Management Co., Ltd.",Miscellaneous
1082,Bualuang Thanasarn Plus 18/18,กองทุนรวมบัวหลวงธนสารพลัส 18/18,BP18/18,"BBL Asset Management Co., Ltd.",Miscellaneous
...,...,...,...,...,...
1431,Thanachart Fixed Income FIF 1Y26,กองทุนเปิดธนชาตตราสารหนี้ต่างประเทศ 1Y26,T-FixFIF1Y26,"Thanachart Fund Management Co., Ltd.",Miscellaneous
1432,Thanachart Fixed Income FIF 1Y27,กองทุนเปิดธนชาตตราสารหนี้ต่างประเทศ 1Y27,T-FixFIF1Y27,"Thanachart Fund Management Co., Ltd.",Miscellaneous
1433,Thanachart Fixed Income FIF 1Y28,กองทุนเปิดธนชาตตราสารหนี้ต่างประเทศ 1Y28,T-FixFIF1Y28,"Thanachart Fund Management Co., Ltd.",Miscellaneous
1434,Thanachart Fixed Income FIF 1Y29,กองทุนเปิดธนชาตตราสารหนี้ต่างประเทศ 1Y29,T-FixFIF1Y29,"Thanachart Fund Management Co., Ltd.",Miscellaneous
1435,Thanachart Fixed Income FIF 6M19,กองทุนเปิดธนชาตตราสารหนี้ต่างประเทศ 6M19,T-FixFIF6M19,"Thanachart Fund Management Co., Ltd.",Miscellaneous
1436,Thanachart Fixed Income FIF 6M20,กองทุนเปิดธนชาตตราสารหนี้ต่างประเทศ 6M20,T-FixFIF6M20,"Thanachart Fund Management Co., Ltd.",Miscellaneous
1437,Thanachart Fixed Income FIF 6M21,กองทุนเปิดธนชาตตราสารหนี้ต่างประเทศ 6M21,T-FixFIF6M21,"Thanachart Fund Management Co., Ltd.",Miscellaneous
1438,Thanachart Fixed Income FIF 6M22,กองทุนเปิดธนชาตตราสารหนี้ต่างประเทศ 6M22,T-FixFIF6M22,"Thanachart Fund Management Co., Ltd.",Miscellaneous
1439,Thanachart Fixed Income FIF 6M23,กองทุนเปิดธนชาตตราสารหนี้ต่างประเทศ 6M23,T-FixFIF6M23,"Thanachart Fund Management Co., Ltd.",Miscellaneous
1440,Thanachart Fixed Income FIF 6M24,กองทุนเปิดธนชาตตราสารหนี้ต่างประเทศ 6M24,T-FixFIF6M24,"Thanachart Fund Management Co., Ltd.",Miscellaneous
1441,Thanachart Fixed Income FIF 6M25,กองทุนเปิดธนชาตตราสารหนี้ต่างประเทศ 6M25,T-FixFIF6M25,"Thanachart Fund Management Co., Ltd.",Miscellaneous
1442,Thanachart Japan Challenge 1,กองทุนเปิดธนชาตเจแปนชาเลนจ์ 1,T-JPChallenge1,"Thanachart Fund Management Co., Ltd.",Miscellaneous
1443,Thanachart Long Term Fixed Income,กองทุนเปิดธนชาตตราสารหนี้ระยะยาว,TFixLT,"Thanachart Fund Management Co., Ltd.",Miscellaneous
1444,TISCO China Equity Trigger 5M 2,กองทุนเปิด ทิสโก้ ไชน่า อิควิตี้ ทริกเกอร์ 5M#2,TCHT5M2,"TISCO Asset Management Co., Ltd.",Miscellaneous
1445,TISCO China Linked Complex Return 5,กองทุนเปิด ทิสโก้ ไชน่า ลิ้งค์ คอมเพล็กซ์ รีเท...,TCHLINK5,"TISCO Asset Management Co., Ltd.",Miscellaneous
1446,TISCO China Linked Complex Return 6,กองทุนเปิด ทิสโก้ ไชน่า ลิ้งค์ คอมเพล็กซ์ รีเท...,TCHLINK6,"TISCO Asset Management Co., Ltd.",Miscellaneous
1447,TISCO China Linked Complex Return 7,กองทุนเปิด ทิสโก้ ไชน่า ลิ้งค์ คอมเพล็กซ์ รีเท...,TCHLINK7,"TISCO Asset Management Co., Ltd.",Miscellaneous
1448,TISCO China Technology Trigger 5M 1,กองทุนเปิด ทิสโก้ ไชน่า เทคโนโลยี ทริกเกอร์ 5M#1,TCTEC5M1,"TISCO Asset Management Co., Ltd.",Miscellaneous
1449,TISCO China Trigger 8% 19,กองทุนเปิด ทิสโก้ ไชน่า ทริกเกอร์ 8% #19,TISCOC19,"TISCO Asset Management Co., Ltd.",Miscellaneous
1450,TISCO China Trigger 8% 20,กองทุนเปิด ทิสโก้ ไชน่า ทริกเกอร์ 8% #20,TISCOC20,"TISCO Asset Management Co., Ltd.",Miscellaneous
1451,TISCO China Trigger 8% 21,กองทุนเปิด ทิสโก้ ไชน่า ทริกเกอร์ 8% #21,TISCOC21,"TISCO Asset Management Co., Ltd.",Miscellaneous
1452,TISCO Japan Equity Trigger 5M 2,กองทุนเปิด ทิสโก้ เจแปน อิควิตี้ ทริกเกอร์ 5M#2,TJPT5M2,"TISCO Asset Management Co., Ltd.",Miscellaneous
1453,TISCO Japan Linked Complex Return 1,กองทุนเปิด ทิสโก้ เจแปน ลิ้งค์ คอมเพล็กซ์ รีเท...,TJPLINK1,"TISCO Asset Management Co., Ltd.",Miscellaneous
1454,TISCO Oil Trigger 8% 6,กองทุนเปิด ทิสโก้ ออยล์ ทริกเกอร์ 8% #6,TOIL6,"TISCO Asset Management Co., Ltd.",Miscellaneous
1455,TISCO Thai Equity Trigger 5M 1,กองทุนเปิด ทิสโก้ ไทย อิควิตี้ ทริกเกอร์ 5M#1,TEQT5M1,"TISCO Asset Management Co., Ltd.",Miscellaneous
1456,TISCO Thai Equity Trigger 5M 3,กองทุนเปิด ทิสโก้ ไทย อิควิตี้ ทริกเกอร์ 5M#3,TEQT5M3,"TISCO Asset Management Co., Ltd.",Miscellaneous
1457,TISCO Thai Equity Trigger 5M 4,กองทุนเปิด ทิสโก้ ไทย อิควิตี้ ทริกเกอร์ 5M#4,TEQT5M4,"TISCO Asset Management Co., Ltd.",Miscellaneous
1458,United Fd-Linked Complex Ret 2 NFRI,กองทุนเปิด ยูไนเต็ด ฟันด์ ลิงค์ คอมเพล็กซ์ รีเ...,UFLINK2,"UOB Asset Management (Thailand) Co., Ltd",Miscellaneous
1459,United Fd-Linked Complex Ret NFRI,กองทุนเปิด ยูไนเต็ด ฟันด์ ลิงค์ คอมเพล็กซ์ รีเ...,UFLINK,"UOB Asset Management (Thailand) Co., Ltd",Miscellaneous
1460,United Fixed Maturity 2Y1,กองทุนเปิด ยูไนเต็ด ฟิกซ์ แมชชัวริตี้ 2Y1,UFM2Y1,"UOB Asset Management (Thailand) Co., Ltd",Miscellaneous

# อ่านข้อมูลจาก text เพื่อบันทึกลง Database

- https://sdsawtelle.github.io/blog/output/large-data-files-pandas-sqlite.html

## จัดการแบบ Auto

In [21]:
import pandas as pd
import numpy as np
import sqlite3
%matplotlib inline
# used for dates
import datetime
from datetime import datetime, date

In [22]:
pd.__version__

'0.24.2'

In [23]:
pd.Timestamp.today()

Timestamp('2019-06-21 13:07:13.442623')

In [24]:
def read_txt (years,months):
        y = years
        m = months
        for i in range(len(months)):
            n = ['nav_date','B','C','Firm','E','proj_name_th','proj_name_en','fund_code','net_asset',
                 'nav_price','dividend_value','book_close_date','sell_price','buy_price']
            df = pd.read_csv((f'NAV/NAV_{years}_{months[i]}.txt'),header=None,names=n,skiprows=1,encoding='utf-8')
             # ลบข้อมูลที่เป็น่ค่าว่าง
            df = df.dropna(subset=['fund_code'])

            # Convert Type to DateTime
            df['nav_date'] = pd.to_datetime(df.nav_date) 
            #df['book_close_date'] = pd.to_datetime(df.book_close_date ) 
            
            df = df.loc[:, ['nav_date',"fund_code",'nav_price','net_asset','sell_price',
                             'buy_price','dividend_value','book_close_date','Firm']]
            # Connect Database
            conn = sqlite3.connect('mutual_fund.db')
            df.to_sql("daily_nav", conn,if_exists="append", index=False)
            
            print(f'{years}-{months[i]}-success')

y = '2560'
m = ['06']
read_txt(y,m)

# ['06','05','04','03','02','01']
# ['12','11','10','09','08','07']
# ['12','11','10','09','08','07','06','05','04','03','02','01']

2560-06-success

In [9]:
data = pd.read_sql_query("select * from daily_nav", conn)
data.head(10)

NameError: name 'conn' is not defined

In [10]:
data.shape

NameError: name 'data' is not defined

In [24]:
n = ['nav_date','B','C','Firm','E','proj_name_th','proj_name_en','fund_code','net_asset',
     'nav_price','dividend_value','book_close_date','sell_price','buy_price']
df = pd.read_csv('NAV/NAV_2562_05.txt',header=None,names=n,skiprows=1,encoding='utf-8')
df.sample()

,nav_date,B,C,Firm,E,proj_name_th,proj_name_en,fund_code,net_asset,nav_price,dividend_value,book_close_date,sell_price,buy_price
5567,08/05/2019,OE,Fixed Income Fund,THANACHART FUND,THANACHART FUND,กองทุนเปิดธนชาตตราสารหนี้ระยะยาว,Thanachart Long term Fixed Income Fund,TFixLT,2.164200e+08,10.0252,0.1,23/04/2019,NaN,NaN

In [25]:
 # ลบข้อมูลที่เป็น่ค่าว่าง
df = df.dropna(subset=['fund_code'])

# Convert Type to DateTime
df['nav_date'] = pd.to_datetime(df.nav_date,dayfirst=True ) 
df['book_close_date'] = pd.to_datetime(df.book_close_date,dayfirst=True ) 
df.sample()

,nav_date,B,C,Firm,E,proj_name_th,proj_name_en,fund_code,net_asset,nav_price,dividend_value,book_close_date,sell_price,buy_price
13027,2019-05-16,OE,,KTAM,KTAM,กองทุนเปิดเคแทม เวิลด์ บอนด์ ฟันด์,KTAM World Bond Fund,KT-BOND,26143440.51,11.381,NaN,NaT,11.4665,11.381

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28507 entries, 0 to 28506
Data columns (total 9 columns):
nav_date           28507 non-null datetime64[ns]
fund_code          28507 non-null object
nav_price          28257 non-null float64
net_asset          28507 non-null float64
sell_price         19681 non-null float64
buy_price          19686 non-null float64
dividend_value     4366 non-null float64
book_close_date    4373 non-null datetime64[ns]
Firm               28507 non-null object
dtypes: datetime64[ns](2), float64(5), object(2)
memory usage: 2.2+ MB

In [34]:
df.shape

(28507, 9)

In [35]:
df = df.loc[:, ['nav_date',"fund_code",'nav_price','net_asset','sell_price',
                             'buy_price','dividend_value','book_close_date','Firm']]
df.head()

,nav_date,fund_code,nav_price,net_asset,sell_price,buy_price,dividend_value,book_close_date,Firm
0,2019-05-02,MJLF,12.1474,4.008653e+09,NaN,NaN,0.2300,2013-11-26,KASSET
1,2019-05-02,CTARAF,10.1526,3.248834e+09,NaN,NaN,0.0430,2013-08-28,KASSET
2,2019-05-02,GOLDPF,11.0148,2.269067e+09,NaN,NaN,0.1360,2013-08-28,KASSET
3,2019-05-02,KPNPF,10.2108,1.837954e+09,NaN,NaN,0.1625,2013-11-26,KASSET
4,2019-05-02,RGPF,25.3412,2.075008e+10,NaN,NaN,NaN,NaT,KTAM

In [10]:
div = df[df.dividend_value > 0]
div.shape

NameError: name 'df' is not defined

(4366, 9)

In [88]:
len(div['fund_code'].unique())

240

In [89]:
print(div['fund_code'].unique())

['MJLF' 'CTARAF' 'GOLDPF' 'KPNPF' 'CPTGF' 'TTLPF' 'TLGF' 'TBF4' 'TBF5'
 'SSPF' 'TRRF1' 'TLHPF' 'MIPF' 'TIF1' 'BKKCP' 'LUXF' 'TU-PF' 'QHOP'
 'ENRICH' 'ABFC' 'ABTED' 'BMSCITH' 'BSET100' 'K20SLTF' 'K-ASIA' 'K-EUROPE'
 'K-EUSAGE' 'K-USA' 'KGLTF' 'K-GOLD' 'K-GA' 'K-GHEALTH' 'K-GHEALTH(UH)'
 'K-GEMO' 'K-GLOBE' 'K-GINFRA' 'K-GB' 'K-GPROP' 'KSDLTF' 'KDLTF'
 'K-USXNDQ' 'K-EQUITY' 'K-VALUE' 'K-AGRI' 'K-INDIA' 'K-SELECT' 'K-PROP'
 'KGF4' 'ABFTH' 'EBANK' 'ECOMM' 'ENY' 'EFOOD' 'EICT' 'ESET50'
 'KT-PROPERTY' 'TOF' 'KT-HiDiv' 'KTSE' 'KTLF' 'KTSF' 'CHINA' 'KF-HCHINAD'
 'KFGROWTH' 'KFHEALTH' 'KF-GBRAND' 'KF-SMCAPD' 'KF-GPROPD' 'KF-HJAPAND'
 'KF-JPSCAPD' 'KFFLEX-D' 'KFLTFA50-D' 'KFLTFAST-D' 'KFLTFEQ70D'
 'KFLTFTSM-D' 'KFLTFDIV' 'KFLTFD70' 'KFDNM-D' 'KFSDIV' 'KFSEQ-D' 'KFTSTAR'
 'KFFIN-D' 'KFMTFI-D' 'LHPROP-A' 'VAYU1' 'RPF2' 'HAPPY D5' 'M-MIDSMALL'
 'MGS' 'M-S50' 'SI5E2' 'SI5E3' 'SMART' 'MIF' 'I-SMART' 'HI-DIV' 'Q-PORT'
 'M-PROP DIV' 'M-BT' 'MV-LTF' 'MFX' 'MIF-LTF' 'RRF1' 'BMBF' 'SF7' 'SF8'
 'SF4' 'SCDF' 'STD' 'STD2' 'KAF' 'DE-1' 'SAN' 'TS' 'SCIF' 'SCIF2'
 'ONE-APACPROP' 'ONE-ACT' 'ONE-ACT70LTF' 'ONE-GLOBALEQ' 'ONE-ULTRA'
 'ONE-EQ' 'ONE-STOXXASEAN' 'ONE-SHARIAHLTF' 'ONEPROP-D' 'ONE+1' 'SYRUS-M'
 'ONE-FAS' '1AM-GEM' '1AMGBF' '1AMGFF' '1VAL-D' '1S-LTF' 'ONE-FLEX'
 'ONE-DI' 'ONE-DI2' 'ONE-UB 3' '1DIV' 'TH100' 'THANA1' 'SCBGPROP'
 'SCBLEQFUND' 'SCBINDIAFUND' 'SCBCHAFUND' 'SCBBANKINGFUND' 'SCBENERGYFUND'
 'SCBSEFUND' 'SCBBLNFUND' 'SCBGEQFUND' 'SCBPMOFUND' 'SCBSMART3FUND'
 'SCBSMART4FUND' 'SCBLT4' 'SCBLTT' 'SCBLT1' 'SCBS&amp;P500FUND'
 'SCBGHCFUND' 'SCBEUEQFUND' 'SCBNKY225' 'SCBEMEQFUND' 'SCBDVFUND'
 'SCBEMBOND' 'T-GlobalValue' 'T-LowBetaLTFD' 'T-PrimePlusAI' 'T-STSD'
 'T-AsianProp' 'T-CSD' 'T-PPSD' 'T-LTFD' 'T-EQUITY' 'T-DIV' 'T-DIV2'
 'T-INFRA' 'T-TTW1' 'T-TSARN' 'T-PropInfraFlex' 'T-Property'
 'T-PREMIUM BRAND' 'T-FixFIF(I)' 'TISESG' 'TDLTF' 'TISCOCID' 'TDSLTF'
 'TISCODS' 'TISCOEDF' 'TCMEQF' 'JB25 LTF' 'JBP LTF' 'ENGY' 'TMBGRR'
 'TMBGDF' 'TMB50DV' 'TMBPIPF' '70/30-D LTF' 'ADR-D' 'UOBSAS100D' 'UOBSCI'
 'KKF' 'VFOCUS-D' 'MIX-D1585' 'TEF-DIV' 'TBF' 'TDF' 'KPLUS' 'KPLUS2'
 'RKF4' 'K70LTF' 'K-CHINA' 'M-ACTIVE' 'MG-LTF' 'AGF' 'TDEX' 'VALUE-D LTF'
 'UOBLTF-M' 'BIG CAP-D LTF' 'TFixLT' 'KGFIN' 'MGE' 'G-PREMIUM' 'K-JP'
 'MGA' 'M-FLEX' 'I-REITs' 'B-FUTURE' 'LHMSFL' 'LHSELECT' 'LHGROWTH'
 'LHSTRATEGY' 'LHEQD' 'LHTPROP' 'LHPROP-INFRA' 'LHPROP-I' 'M-STOR' 'M-PAT'
 'MNIT' 'MNRF' 'HPF' 'M-II' 'MNIT2']

# Read data from Database

In [37]:
import sqlite3
conn = sqlite3.connect('mutual_fund.db')

In [38]:
data = pd.read_sql_query("select * from daily_nav", conn)

data = data.sort_values(by='nav_date')  # Sorting by values:
data.head(5)

,nav_date,fund_code,nav_price,net_asset,sell_price,buy_price,dividend_value,book_close_date,Firm
0,2008-01-02 00:00:00,EMPORIUM,17.8355,3.656269e+09,NaN,NaN,0.6500,19/12/2550,BBLAM
221,2008-01-02 00:00:00,AGF,3.8529,1.023606e+08,3.8723,3.8529,0.4600,13/09/2005,MFC
220,2008-01-02 00:00:00,SCT,20.3256,1.626050e+09,NaN,NaN,0.0272,31/12/2550,BBLAM
219,2008-01-02 00:00:00,T-NMRMF,11.2999,1.413767e+08,11.3000,11.2999,NaN,None,THANACHART FUND
218,2008-01-02 00:00:00,T-EQUITY,13.9709,2.723551e+09,13.9710,13.9709,1.3500,10/09/2007,THANACHART FUND

In [39]:
data.tail(5)

,nav_date,fund_code,nav_price,net_asset,sell_price,buy_price,dividend_value,book_close_date,Firm
2002795,2019-06-18 00:00:00,PRINCIPAL TREASURY,11.6261,8.462390e+08,11.6262,11.6261,NaN,None,CIMB-PRINCIPAL
2002794,2019-06-18 00:00:00,PRINCIPAL FI,13.6818,4.110034e+09,13.6819,13.6818,NaN,None,CIMB-PRINCIPAL
2002793,2019-06-18 00:00:00,TFixLT,10.0517,2.169913e+08,NaN,NaN,0.1,2019-04-23 00:00:00,THANACHART FUND
2002791,2019-06-18 00:00:00,UOBLTF-M,43.3908,5.547923e+09,43.3909,43.3908,NaN,None,UOBAMTH
2003598,2019-06-18 00:00:00,ASIA-B,22.6902,1.972203e+08,22.9172,22.6902,NaN,None,UOBAMTH

In [40]:
data.shape

(2003599, 9)

In [35]:
# drop duplicate row

data = data.drop_duplicates(keep='last')
data.shape

(2003599, 9)

In [36]:
# replace: Drop the table before inserting new values.
data.to_sql("daily_nav", conn,if_exists="replace", index=False) # replace: Drop the table before inserting new values.
            
print('success')

success

In [30]:
len(data['fund_code'].unique())

1774

In [17]:
sqlite3.close()

AttributeError: module 'sqlite3' has no attribute 'close'

# กองทุนที่จ่ายเงินปันผล

In [18]:
div = data[data.dividend_value > 0]
div.shape

(444137, 9)

In [19]:
len(div['fund_code'].unique())

283

In [19]:
print(div['fund_code'].unique())

['SCBDVFUND' 'SCBLT1' 'SCBLTT' 'SCBLT4' 'T-PASD' 'T-USD2' 'T-USD'
 'T-INFRA' 'T-EQUITY' 'T-LTFD' 'T-SPT' 'T-PPSD' 'T-STSD' 'T-CSD'
 'ONE-EC14' 'ONE-EQ' 'SCIF2' 'SCIF' 'TS' 'SAN' 'DE-1' 'STD2' 'STD' 'SCDF'
 'SF4' 'SF8' 'SF7' 'BMBF' 'RRF1' 'KAF' 'ONE+1' 'SYRUS-M' 'THANA1'
 'ONE-UB 3' 'ONE-FLEX' '1VAL-D' '1AM-GEM' 'ONE-FAS' '1S-LTF' 'T-TTW1'
 'AGF' 'K70LTF' 'RKF4' 'TDEX' 'TBF' 'TEF-DIV' 'TFixLT' 'BIG CAP-D LTF'
 'VALUE-D LTF' 'T-TSARN' '70/30-D LTF' 'TCMEQF' 'K-GOLD' 'KGLTF' 'K20SLTF'
 'K-GLOBE' 'K-SELECT' 'K-VALUE' 'K-EQUITY' 'KDLTF' 'ENRICH' 'TU-PF'
 'BKKCP' 'MIPF' 'MNIT2' 'MNRF' 'MNIT' 'M-STOR' 'JCP' 'TBF5' 'TBF4'
 'GOLDPF' 'CTARAF' 'MJLF' 'ABFC' 'ABTED' 'VAYU1' 'KFMTFI-D' 'KFFIN-D'
 'KFSEQ-D' 'RPF2' 'MGS' 'ABFTH' 'MFX' 'MV-LTF' 'M-BT' 'Q-PORT' 'HI-DIV'
 'HAPPY D5' 'MIF' 'SMART' 'M-S50' 'MGE' 'MGA' 'KTFIXPLUS' 'KTSF' 'KTLF'
 'KTSE' 'TOF' 'KFSDIV' 'KFDNM-D' 'KFLTFD70' 'KFLTFDIV' 'KFLTFA50-D'
 'KFLTFEQ70D' 'KFGROWTH' 'KFFLEX-D' 'COMF' 'SCT' 'MS-EQ DIV' 'QHOP'
 'EMPORIUM' 'BG' 'BKD' 'M-ACTIVE' 'K-GA' 'T-PREMIUM BRAND' 'K-GEMO' 'BCAP'
 'K-CHINA' 'TIF1' 'MIF-LTF' 'K-INDIA' 'KSDLTF' 'SCBSEFUND' 'TMB50DV'
 'TMBGDF' 'JBP LTF' 'JB25 LTF' 'LUXF' 'ENGY' 'TRRF1' '1DIV' 'MG-LTF'
 'SCBBANKINGFUND' 'BSIRICG' 'WHAPF' 'ADR-D' 'MIX-D1585' 'TLGF' 'DTCPF'
 'TTLPF' 'T-PISD' 'T-FixFIF(I)' '1AMGBF' '1AMGFF' 'KGF4' 'KGFIN'
 'G-PREMIUM' 'KT-PROPERTY' 'VFOCUS-D' 'K-AGRI' 'K-USA' 'M-II' 'K-USXNDQ'
 'SCBENERGYFUND' 'TDF' 'KPLUS' 'KPLUS2' 'UOBSAS100D' 'KKF' 'EBANK' 'UOBSG'
 'SSPF' 'KPNPF' 'SCBPMOFUND' 'UNIPF' 'LHDEBT' 'LHGOV' 'SCBSMART2FUND'
 'HPF' 'SCBSMART4FUND' 'SCBSMART3FUND' 'SCBGEQFUND' 'K-ASIA' 'K-EUROPE'
 'SCBS&amp;P500FUND' 'ONEPROP-D' 'M-PROP DIV' 'K-GB' 'SCBEUEQFUND'
 'LHTPROP' 'UOBLTF-M' 'LHGROWTH' 'LHEQD' 'KT-HiDiv' 'KT-OPP' 'KFMIX80-20'
 'T-GlobalValue' 'BBASIC' 'M-PAT' 'TISCOCID' 'KFHEALTH' 'CPTGF' 'TDLTF'
 'K-GPROP' 'I-SMART' 'SSTSS' 'K-JP' 'KF-SMCAPD' 'K-GHEALTH' 'KF-HJAPAND'
 'I-REITs' 'T-Property' 'ONE-GLOBALEQ' 'ONE-DI2' 'ONE-DI' 'ESET50' 'CHINA'
 'SI5E2' 'ONE-ULTRA' 'LHPROP-I' 'K-GINFRA' 'KF-HCHINAD' 'T-PropInfraFlex'
 'LHSMART' 'LHIP' 'SCBCHAFUND' 'KT-INDIA' 'TLHPF' 'K-PROP' 'SCBEMBOND'
 'SCBINDIAFUND' 'LHPF-II' 'SCBLEQFUND' 'ONE-ACT' 'LHMSFL' 'LHJAP-E'
 'SCBEMEQFUND' 'SCBBLNFUND' 'TISCOEDF' 'TH100' 'TISCOSTF' 'SCBGHCFUND'
 'KF-GBRAND' 'M-MIDSMALL' 'K-EUSAGE' 'SCBNKY225' 'T-AsianProp' 'T-DIV'
 'LHPROP-INFRA' 'LHPROP-A' 'T-DIV2' 'TISCODS' 'SCBGPROP' 'SI5E3'
 'ONE-STOXXASEAN' 'LHSTRATEGY' 'KFTSTAR' 'KF-GPROPD' 'ONE-ACT70LTF'
 'BBASICDLTF' 'KF-JPSCAPD' 'T-LowBetaLTFD' 'UOBSCI' 'LHSMART-LTF'
 'ONE-SHARIAHLTF' 'LHSELECT' 'LHGINCOME' 'LHACTLTF' 'KFLTFAST-D'
 'KFLTFTSM-D' 'ONE-APACPROP' 'KT-PIF' 'KT-JAPAN' 'KT-CLMVT' 'LHGLIFE-E'
 'TDSLTF' 'LHTOPPICK' 'T-PrimePlusAI' 'ECOMM' 'ENY' 'EFOOD' 'EICT'
 'M-FLEX' 'LHDIGITAL' 'TMBGRR' 'TMBPIPF' 'BMSCITH' 'K-GHEALTH(UH)'
 'BSET100' 'TISESG' 'B-FUTURE']

In [20]:
data[data.fund_code == 'M-PROP DIV'].tail()

,nav_date,fund_code,nav_price,net_asset,sell_price,buy_price,dividend_value,book_close_date,Firm
1701351,2019-06-12 00:00:00,M-PROP DIV,16.1494,5.384115e+09,16.2302,16.1494,0.0983,2019-04-24 00:00:00,MFC
1702841,2019-06-13 00:00:00,M-PROP DIV,16.1474,5.396596e+09,16.2282,16.1474,0.0983,2019-04-24 00:00:00,MFC
1704337,2019-06-14 00:00:00,M-PROP DIV,16.1731,5.460154e+09,16.2541,16.1731,0.0983,2019-04-24 00:00:00,MFC
1705794,2019-06-17 00:00:00,M-PROP DIV,16.1456,5.472217e+09,16.2264,16.1456,0.0983,2019-04-24 00:00:00,MFC
1707079,2019-06-18 00:00:00,M-PROP DIV,16.2755,5.541931e+09,16.3570,16.2755,0.0983,2019-04-24 00:00:00,MFC

In [22]:
data[data.fund_code == 'SCBRMGIF'].tail()

,nav_date,fund_code,nav_price,net_asset,sell_price,buy_price,dividend_value,book_close_date,Firm
1700104,2019-06-11 00:00:00,SCBRMGIF,12.0247,1.425518e+08,12.0248,12.0247,NaN,None,SCBAM
1701598,2019-06-12 00:00:00,SCBRMGIF,12.0563,1.437376e+08,12.0564,12.0563,NaN,None,SCBAM
1703088,2019-06-13 00:00:00,SCBRMGIF,12.0590,1.439884e+08,12.0591,12.0590,NaN,None,SCBAM
1704586,2019-06-14 00:00:00,SCBRMGIF,12.0551,1.445311e+08,12.0552,12.0551,NaN,None,SCBAM
1706013,2019-06-17 00:00:00,SCBRMGIF,12.0683,1.451919e+08,12.0684,12.0683,NaN,None,SCBAM

https://www.wealthmagik.com/Screener/BasicScreener.aspx

- กองทุนทั้งหมด 1,632
-  จ่ายเงินปันผล - 305
- LTF - 93
- RMF - 100+49+40+22